<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<ul id="dropdown-main" class="dropdown-content">
        <li><a href="/pages/snowflakes">Snowflakes</a></li>
</ul>
<div class="navbar">
    <nav class="nav-extended">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo right">JF</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown-main">Playground<i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
        </div>
    </nav>          
</div>
<ul class="sidenav" id="mobile-demo">
    <li><a href="/">Home</a></li>
    <li><div class="divider"></div></li>
    <li><a class="dropdown-trigger" href="#!" data-target="dropdown-sidenav">Playground<i class="material-icons right">arrow_drop_down</i></a></li>
    <ul id='dropdown-sidenav' class='dropdown-content'>
        <li><a href="/pages/snowflakes">Snowflakes</a></li>
    </ul>
</ul>
<script>
document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.dropdown-trigger');
    var instances = M.Dropdown.init(elems, {});
});

document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems, {});
});
</script>